<div class="bg-canvas">
  <img src="background (2).png" class="bg-canvas">
</div>
<section class="active">
  <div class="content">
    <span class="Helloworld">:Hello, world!</span>
    <h1>
      Always learning, <br>
      keep creating,<br>
      and Stay <br>
      independent.
    </h1>
    <h3 class="subtitle">
      an undefined individual — <br>
      A developer, designer, artist.
    </h3>

    <div class="btn">
      <button class="cta" value="works" onclick="location.href = 'works.html'">view works</button>
      <button class="cta" value="about" onclick="location.href = 'about.html' ">read more</button>
    </div>

  </div>
</section>
