<div class="bg-canvas">
  <img src="./aboutbackground.png" class="bg-canvas">
</div>

<div class="content">
  <section class="worksHeader">
    <p class="works-title">works</p>
    <div class="filter">
      <button class="works-filter-button">all</button>
      <button class="works-filter-button">web</button>
      <button class="works-filter-button">graphic</button>
      <button class="works-filter-button">art</button>
    </div>
  </section>
  <section class="cards">

    <a href="./index.html" class="text-decoration-none text-reset">
      <div class="card mb-3">
        <img src="./homepage.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Homepage</h5>
          <p class="card-text">This is my first website!</p>
          <p class="card-text"><small class="text-body-secondary">web</small></p>
        </div>
      </div>
    </a>

    <a href="https://docs.google.com/document/d/1JgwiUUQ_q5qlWQYFgQDBq5CkWN5QpJiFFgbg2nAHYKc/edit?usp=sharing"
      class="text-decoration-none text-reset">
      <div class="card mb-3">
        <img src="./questionnare.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dynamic questionnare</h5>
          <p class="card-text">This is my first website!</p>
          <p class="card-text"><small class="text-body-secondary">web</small></p>
        </div>
      </div>
    </a>

    <a href="https://project2-weather.vercel.app/weatherAPI" class="text-decoration-none text-reset">
      <div class="card mb-3">
        <img src="./weather.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Weather</h5>
          <p class="card-text">A weather website of Kaoshung Taiwan.Using Angular.</p>
          <p class="card-text"><small class="text-body-secondary">web</small></p>
        </div>
      </div>
    </a>

  </section>
</div><!-- the end of content -->
