<div class="bg-canvas">
  <img src="./aboutbackground.png" class="bg-canvas" alt="background">
</div>

<main class="content">
  <section class="worksHeader">
    <p class="works-title">works</p>
  </section>

  <section class="carousel-controls">
    <button
      type="button"
      (click)="decreasePage()"
      [disabled]="startIndex === 0">
      left
    </button>

    <button
      type="button"
      (click)="increasePage()"
      [disabled]="startIndex >= works.length - displayedCount">
      right
    </button>
  </section>

  <section class="cards-wrapper">
    <div
      class="cards-track"
      [style.transform]="transformOffset">

      @for (work of works; track work.link) {
        <a
          [href]="work.link"
          target="_blank"
          rel="noopener noreferrer"
          class="work-carousel-item">

          <div class="card mb-3">
            <img
              [src]="work.image"
              class="card-img-top"
              [alt]="work.title">

            <div class="card-body">
              <h5 class="card-title">{{ work.title }}</h5>
              <p class="card-text">{{ work.description }}</p>
            </div>
          </div>
        </a>
      } @empty {
        <p class="empty-text">目前沒有作品。</p>
      }

    </div>
  </section>
</main>
