<div class="bg-canvas">
  <img src="./aboutbackground.png" class="bg-canvas" alt="background">
</div>
<div class="content">

  <section class="worksHeader">
    <p class="works-title">works</p>

    <!-- <div class="filter">
      @for (f of filters; track f) {
        <button
          class="works-filter-button"
          [class.active]="selectedFilter === f"
          (click)="setFilter(f)">
          {{ f }}
        </button>
      }
    </div> -->
  </section>

  <section>
    <button (click)="decreasePage()">left</button>
    <button (click)="increasePage()">right</button>
  </section>
  <section class="cards">
    @for (work of displayedWorks; track work.link) {
      <a
        [href]="work.link"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none text-reset">

        <div class="card mb-3">
          <img
            [src]="work.image"
            class="card-img-top"
            [alt]="work.title">

          <div class="card-body">
            <h5 class="card-title">{{ work.title }}</h5>
            <p class="card-text">{{ work.description }}</p>
            <p class="card-text">
              <small class="text-body-secondary">
                {{ work.category }}
              </small>
            </p>
          </div>
        </div>
      </a>
    } @empty {
      <p class="empty-text">目前沒有作品。</p>
    }
  </section>
</div>
<!-- the end of content -->
