<!-- nav.html -->
<nav class = "the-cool-bar">
  <div class = "nav-head">
    <button class = "logo" onclick="location.href = 'index.html' ">Peilin Li</button>
  </div>
  <div class="nav-body">
    <button class="nav-btn" onclick="location.href = 'index.html' ">home</button>
    <button class="nav-btn" onclick="location.href = 'about.html' ">about</button>
    <button class="nav-btn" onclick="location.href = 'works.html'">works</button>
    <button class="nav-btn" onclick="location.href = 'writing.html' ">writing</button>
    <!-- <button class="nav-btn" onclick="location.href = 'contact.html' ">contact</button> -->
  </div>
</nav>
