<!-- nav.html -->
<nav class = "the-cool-bar">
  <div class = "nav-head">
    <button class = "logo" onclick="location.href = 'index.html' ">Pei-Lin Li</button>
  </div>
  <div class="nav-body">
    <button class="nav-btn" [routerLink]="['/homepage']">home</button>
    <button class="nav-btn" [routerLink]="['/about']">about</button>
    <button class="nav-btn" [routerLink]="['/works']">works</button>
    <button class="nav-btn" [routerLink]="['/writing']">writing</button>
    <button class="nav-btn" [routerLink]="['/contact']">contact</button>
  </div>
</nav>
