<div class="content">

  <section class="writing-header">
    <p class="writing-title">writings</p>
  </section>

  <section class="writing-body">
    <button class="writing-block">
      <div class="writing-left">
        <h5 class="article-title">雜記06 關於老人與海</h5>
        <p class="article-preview">或許是自己不夠聰明，也可能是見識尚淺，讀完...</p>
      </div>
      <div class="writing-right">
        <span class="writing-date">2026 - 04 - 11</span>
      </div>
    </button>
  </section>

  <section class="writing-body">
    <button class="writing-block">
      <div class="writing-left">
        <h5 class="article-title">雜記05 鳥調</h5>
        <p class="article-preview">為了記錄自己終於邁出步伐，做了一件與平常的自...</p>
      </div>
      <div class="writing-right">
        <span class="writing-date">2026 - 01 - 04</span>
      </div>
    </button>
  </section>

  <section class="writing-body">
    <button class="writing-block">
      <div class="writing-left">
        <h5 class="article-title">雜記04 日本行</h5>
        <p class="article-preview">這不僅是樂不可支的享受，更是一趟圓夢與自我成...</p>
      </div>
      <div class="writing-right">
        <span class="writing-date">2025 - 11 - 16</span>
      </div>
    </button>
  </section>

  <section class="writing-body">
    <button class="writing-block">
      <div class="writing-left">
        <h5 class="article-title">雜記03 小王子</h5>
        <p class="article-preview">...我不吃麵包。麥田對我沒有用處。麥田不會讓我...</p>
      </div>
      <div class="writing-right">
        <span class="writing-date">2023 - 12 - 17</span>
      </div>
    </button>
  </section>

  <section class="writing-body">
    <button class="writing-block">
      <div class="writing-left">
        <h5 class="article-title">雜記02 </h5>
        <p class="article-preview">...</p>
      </div>
      <div class="writing-right">
        <span class="writing-date">2026 - 00 - 00</span>
      </div>
    </button>
  </section>

  <section class="writing-body">
    <button class="writing-block">
      <div class="writing-left">
        <h5 class="article-title">雜記01</h5>
        <p class="article-preview">...</p>
      </div>
      <div class="writing-right">
        <span class="writing-date">2026 - 00 - 00</span>
      </div>
    </button>
  </section>

</div> <!-- the end of content -->
